* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

nav .nav-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-left .menu{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right .icon{
    display: flex;
    gap: 50px;
}

section{
    display: flex;
    padding: 15px;
}

.product-detail{
    background-color: red;
    margin: 15px;
}

.new{
    width: fit-content;
    margin: 10px;
}

.new p{
    color: #ca6630;
}

.product-name{
    width: 20%;
}

.product-name h1{
    font-size: 50px;
}

.product-price{
    margin-top: 10px;
}

.product-price p{
    font-size: 30px;
}

hr{
    margin-top: 10px;
}



.product{
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-fearures{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.product-action{
    background-color: green;
}