* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: whitesmoke;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

button{
    height: 40px;
    width: 120px;
    margin: 15px;
    padding: 5px;
    background-color: #151515;
    color: white;
    border: 1px solid transparent;
    font-size: 17px;
}