* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: whitesmoke;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.btn button{
    height: 40px;
    width: 120px;
    margin: 15px;
    padding: 5px;
    background-color: #151515;
    color: white;
    border: 1px solid transparent;
    font-size: 17px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.heading h1{
    font-size: 200px;
}

.capsule{
    display: flex;
    gap: 30px;
}

.capsule button{
    /* height: 30px; */
    width: 100px;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: #151515;
    font-weight: 600;
}

.capsule button:first-child{
    background-color: #fc470b;
    width: 70px;
}

.image-collection{
    background-color: red;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

