@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Playfair Display;
    text-decoration: none;
    list-style: none;
    color: black;
    overflow: hidden;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav {
    position: relative;
    height: 10vh;
    margin: 10px;
    padding: 10px;
}

nav .home {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
}

nav .menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu ul {
    display: flex;
    gap: 50px;
}

nav .icon {
    position: absolute;
    display: flex;
    gap: 20px;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.icon .box svg {
    height: 30px;
}