@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Playfair Display;
    text-decoration: none;
    list-style: none;
    color: black;
    overflow: hidden;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav {
    position: relative;
    height: 10vh;
    margin: 10px;
    padding: 10px;
}

nav .home {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
}

nav .menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu ul {
    display: flex;
    gap: 50px;
}

nav .icon {
    position: absolute;
    display: flex;
    gap: 20px;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.icon .box svg {
    height: 30px;
}

main{
    position: relative;
    height: 100%;
}

.left{
    position: absolute;
    height: 100%;
    width: 30%;
    margin: 10px 10px;
    padding: 10px;
}

.first{
    position: relative;
    width: 100%;
}
.first .leaf-icon{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: red;
    border: 2px solid transparent;
    border-radius: 50%;
}

.first .text{
    position: relative;
    left: 8%;
}

.text p{
    font-size: 17px;
    opacity: 0.6;
}

.sec{
    position: relative;
    width: 100%;
}

.sec .heading{
    width: 70%;
}

.heading h1{
    font-size: 80px;
}

.third{
    position: relative;
}

.third hr{
    width: 70px;
    border: 1.5px solid black;
}

.fourth{
    position: relative;
    margin-top: 10px;
    width: 100%;
}

.fourth .para{
    width: 90%;
    opacity: 0.6;
}

.fifth{
    position: relative;
    margin-top: 15px;
    display: flex;
    gap: 20px;
}

.fifth .colors{
    display: flex;
    gap: 5px;
}

.colors :nth-child(1){
    height: 20px;
    width: 20px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: #7b816a
;
}
.colors :nth-child(2){
    height: 20px;
    width: 20px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: #e4dcd3;
}
.colors :nth-child(3){
    height: 20px;
    width: 20px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: #e1a8a7;
}

.sixth{
    position: relative;
    margin-top: 20px;
}

.detail{
    margin-bottom: 5px;
}

.small-para{
    width: 70%;
}

.small-para p{
    font-size: 13px;
    opacity: 0.6;
}

.seventh{
    margin-top: 20px;
}