* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.103);
}

main{
    height: 100%;
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: white;
}

.nav{
    position: relative;
    height: 10%;
    background-color: blue;
    /* padding: 15px; */
}

.nav .menu{
    position: absolute;
    top: 25%;
    left: 2%;
    background-color: red;
    height: 50%;
    width: 3.5%;
}

.nav .logo{
    position: absolute;
    left: 40%;
    background-color: red;
    height: 100%;
    width: 20%;
}

.nav .dark{
    position: absolute;
    top: 25%;
    right: 2%;
    background-color: red;
    height: 50%;
    width: 3.5%;
}

